<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ currentGameName || 'No game' }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isGameSelected" (click)="togglePlayPause()">
        <ion-icon [name]="isRunning ? 'pause-outline' : 'play-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <div *ngIf="!isGameSelected" class="placeholder">
      No game selected!
    </div>
    <canvas #canvas width="640" height="576" *ngIf="isGameSelected"></canvas>
  </div>

</ion-content>
