<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Games
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="importGame()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Games</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="loader" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="!loading && games.length === 0" class="placeholder">
    No games. Select the &bdquo;+&ldquo; icon in the upper right corner in order to import
    a game.
  </div>

  <ion-list *ngIf="!loading && games.length > 0">
    <app-game-item *ngFor="let game of games;trackBy:trackGameBy" [game]="game" (delete)="deleteGame(game)"
      (selectItem)="launchGame(game)" (edit)="editGame(game)" (reset)="resetGame(game)"
      (interaction)="lastGameTouchedRomHash = game.romHash" [selected]="currentGameRomHash === game.romHash"
      [touched]="game.romHash === lastGameTouchedRomHash">
    </app-game-item>
  </ion-list>
</ion-content>
