<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="play">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Play</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="games">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="help-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
